<h1>{{name}}</h1>
<div class="contact-info">
  <div class="row">
  <span class="intro col-3">email</span>
  <span class="content col-9">{{email}}</span>
  </div>
  <div class="row">
  <span class="intro col-3">skype</span>
  <span class="content col-9">{{skype}}</span>
  </div>
</div>

<div class="summary-highlights">
  <h2>Profile</h2>
  <ul class="profile-highlights">
    <li class="highlight" *ngFor="let profileHighlight of profileHighlights">
      {{profileHighlight}}
    </li>
  </ul>
</div>


<div class="technical-skills-matrix">
  <h2>Key Technical Skills (Select technology to display associated work experience)</h2>
  <table class="technical-skills">
    <tr *ngFor="let technicalSkillsMatrixItem of technicalSkillsMatrix">
      <td class="matrix-item-name">{{technicalSkillsMatrixItem.name}}</td>
      <td class="technologies">
        <button *ngFor="let technology of technicalSkillsMatrixItem.technologies" (click)="onTechnologySelect(technology)" [class.selected]="technology === selectedTechnology">
        {{technology}}
        </button>
      </td>

    </tr>
  </table>
</div>


<div *ngIf="selectedTechnology">
  <button (click)="clearSelectedTechnology()">
      Show All Work Experience
  </button>
  <h2>Career Summary for {{selectedTechnology}}</h2>
  <div class="highlight" *ngFor="let workRecord of relevantWorkRecords">
    <my-work-record-detail [workRecord]="workRecord" [technology]="selectedTechnology"></my-work-record-detail>
  </div>
</div>

<div *ngIf="!selectedTechnology">
  <h2>Complete Career Summary</h2>
  <div class="highlight" *ngFor="let workRecord of allWorkRecords">
    <my-work-record-detail [workRecord]="workRecord" [technology]=""></my-work-record-detail>
  </div>
</div>