.work-record
{
  margin-top: 10px;
  border-top: 1px solid #234b7b;
}

h3 {
font-size: 1em;
}

h3.dates
{
  float:left;
}

h3.company
{
  float:right;
}

h4.title
{
  clear: both;
  font-size: 0.8em;
  font-style: italic;
}

.work-record-technologies
{
   font-weight: bold;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc; 
  cursor: auto;
}
